<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModUpdater.Lang" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModUpdater.Lang>
            <setting name="WelcomeStr" serializeAs="String">
                <value>Welcome to seaboy1234's {0} version {1}.</value>
            </setting>
            <setting name="NewModsStr" serializeAs="String">
                <value>There are {0} mods that need updating.</value>
            </setting>
            <setting name="NoNewMods" serializeAs="String">
                <value>There are no updates.</value>
            </setting>
        </ModUpdater.Lang>
    </userSettings>
</configuration>